@import '~bootstrap/scss/bootstrap.scss';
$smallfontsize: 10px;
$gaprow_height: 12px;
.container{
    background-color: #5200b1;
    font-size:$smallfontsize;
    color:white;
    white-space: nowrap;
}
.row
{
    border: 1px solid white;
    overflow:hidden;
}
.col
{
    border-left: 1px solid white;
    border-right: 1px solid white;
    overflow:hidden;  
    padding:0px 0px;
}
.col.label
{
    text-align:left;
    margin-left:14px;
    padding-left:2px;
}
.paddingtop
{
    padding-top: $smallfontsize;
    
}
.paddingbottom
{
    padding-bottom:$smallfontsize;
}
.btn 
{
    background-color: #dfe8ff;
    font-size:$smallfontsize;
    padding-top:1px;
    padding-bottom:1px;
    margin:2px;
    color:black;
}
.gaprow
{
    height:$gaprow_height;
}